/************************************************************************************************/
/* Thanks to                                                                                    */
/*
	Github: 
	
	https://github.com/aris-t2/customcssforfx                                            

	especially for

	https://github.com/Aris-t2/CustomCSSforFx/tree/master/classic/css/toolbars

	MULTIPLE ROWS:
	https://github.com/Aris-t2/CustomCSSforFx/blob/master/classic/css/toolbars/bookmarks_toolbar_multiple_lines_fx74.css

	AUTO HIDE
	https://github.com/Aris-t2/CustomCSSforFx/blob/master/classic/css/toolbars/addonbar_fullscreen_autohide.css

*/
/************************************************************************************************/

/*************************************************************************************************

IMPORTANT:
  
 [!] Firefox 69+ requires this preference to be enabled or custom styles will not be loaded:

	 about:config > toolkit.legacyUserProfileCustomizations.stylesheets > true

*************************************************************************************************/


/*

https://github.com/kakakikikeke/compact-toolbar/blob/master/main.js

*/





:root {
  /********** ioxoi ************  --bookmark_items_height: 22px; /* <- bookmark items - line height */
  --bookmark_items_height: 36px; /* <- bookmark items - line height */
  /********** ioxoi *************   --bookmark_items_lines: 3; /* <- maximum amount of lines */ */
  --bookmark_items_lines: 10; /* <- maximum amount of lines */
}



#PersonalToolbar {
  
  /********** ioxoi ************ allow auto hide
  min-height: var(--bookmark_items_height) !important;
  max-height: calc(var(--bookmark_items_height)*(var(--bookmark_items_lines))) !important;
  /**/

  /********** ioxoi ************ HIDE TOOLBAR whem no hover
  min-height: 0px !important;
  max-height: 0px !important;
  /**/

  /********** ioxoi ************ 1 line TOOLBAR  whem no hover */
  min-height: var(--bookmark_items_height) !important;
  max-height: var(--bookmark_items_height) !important;
  /**/

/*
  min-width: var(--bookmark_items_height) !important;
  max-width: var(--bookmark_items_height) !important;
*/

}



#personal-bookmarks,
#PlacesToolbar > hbox {
  display: block;
}

#PlacesToolbarItems {
  display: flex;
  flex-wrap: wrap;
  overflow-x: visible;
  overflow-y: auto;
}











#personal-bookmarks #PlacesToolbar > .bookmark-item{
  visibility: visible !important;
}

#personal-bookmarks #PlacesToolbar .chevron{
  visibility: collapse;
}
#personal-bookmarks #PlacesToolbar > hbox > hbox{
  overflow-x: hidden;
  overflow-y: hidden;
}

#personal-bookmarks #PlacesToolbar #PlacesToolbarDropIndicator[collapsed="true"],
#personal-bookmarks #PlacesToolbar #PlacesToolbarDropIndicator{
  display: none;
}

#personal-bookmarks #PlacesToolbar toolbarbutton.bookmark-item{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  vertical-align: middle;
}

/********** ioxoi ************
#personal-bookmarks #PlacesToolbar toolbarseparator{
  -moz-appearance: none !important;
  visibility: visible !important;
  display: inline;
  text-shadow: none !important;
  border-left: 3px solid ThreeDShadow !important;
  border-right: 3px solid ThreeDHighlight !important;
  vertical-align: middle;
}
*/




/*************************************************************************************************

	Toolbar icons and folder apparence

*************************************************************************************************/

/* makes the entire bookmarks bar slightly increase in height by adding 1 pixel of space on the top and bottom  
#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > box {
    padding: 35px 35px !important;
}
*/
/* 1 pixel space on the left and right side of each bookmark item and make all bookmarks buttons bigger */
#personal-bookmarks #PlacesToolbar toolbarbutton.bookmark-item {
    margin: 10px !important;
    padding: 2px 3px !important;
}

/* Remove the extra 1 pixel of space added to the left side on the first bookmark item
#personal-bookmarks #PlacesToolbar toolbarbutton.bookmark-item:first-child {
    margin: 0 1px 0 0 !important;
}
 */
/* 10 pixels extra space on the left and right side of the seperators and make them 25% opacity */
#personal-bookmarks #PlacesToolbar toolbarseparator {
    margin: 0 10px !important;
/***    opacity: 0.25 !important; /**/
}




#personal-bookmarks toolbarbutton.bookmark-item[dragover][open]{
  -moz-appearance: toolbarbutton;
}













/*************************************************************************************************

	Toolbar auto hide

*************************************************************************************************/

#PersonalToolbar {

  /********** ioxoi ************ allow auto hide */
  transition-delay: 500ms;
  opacity: 0.5 !important;
  /*opacity: 0 !important;
  transition: all 0.5s ease 0s !important;
  /**/
  /*margin-top: -132px !important; /**/

}

#PersonalToolbar:hover
{
  /********** ioxoi ************ allow auto hide */
  min-height: var(--bookmark_items_height) !important;
  max-height: calc(var(--bookmark_items_height)*(var(--bookmark_items_lines))) !important;
  /**/
}


#personal-bookmarks #PlacesToolbar {
  display: block;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /********** ioxoi ************ allow auto hide
  max-height: calc( var(--bookmark_items_lines) * var(--bookmark_items_height) );
  */
}

#PlacesToolbarItems > .scrollbox-innerbox {
  display: flex;
  flex-wrap: wrap; 
  overflow-x: hidden !important;
  overflow-y: visible !important;
  /********** ioxoi ************ allow auto hide
  max-height: calc(var(--bookmark_items_height)*(var(--bookmark_items_lines))) !important
  /**/
}

#navigator-toolbox #PersonalToolbar { 
  /********** ioxoi ************ allow auto hide
  max-height: calc( var(--bookmark_items_lines) * var(--bookmark_items_height) ) !important;
  /**/
}

#navigator-toolbox:hover #PersonalToolbar {
  /********** ioxoi ************ allow auto hide */
  opacity: 1.0 !important;
  transition-delay: 500ms;
  /*
  transition-delay: 0s !important;
  margin-top: inherit !important;
  /**/

  /********** ioxoi ************ allow auto hide */
  /*max-height: calc( var(--bookmark_items_lines) * var(--bookmark_items_height) ) !important;
  /**/

}






#PlacesToolbarItems:hover > .scrollbox-innerbox
{
  /********** ioxoi ************ allow auto hide */
  max-height: calc(var(--bookmark_items_height)*(var(--bookmark_items_lines))) !important
  /**/
}

















/*************************************************************************************************

 PSOTIONS

*************************************************************************************************/


/* bookmarks toolbar */
#PersonalToolbar { 
    -moz-box-ordinal-group: 0 !important;
}


/* tab bar */
/*
#TabsToolbar { 
    -moz-box-ordinal-group: 3 !important;
}
#navigator-toolbox::after {
    -moz-box-ordinal-group: 4 !important;
}
*/



/* TABS on bottom - Firefox 65 and later */

/* TABS: height */
:root {
  /*--tab-toolbar-navbar-overlap: 0px !important;*/
  /*--tab-min-height: 55px !important; /**/
}

/* IMPORTANT: POSITION  */
:root:not([chromehidden*="toolbar"]) #navigator-toolbox {
  padding-bottom: calc(var(--tab-min-height) + 1px) !important; /*adjust*/
}

/* IMPORTANT: POSITION  */
#TabsToolbar {
  -moz-box-ordinal-group: 1000 !important;
  display: block !important;
  position: absolute !important;
  bottom: 0 !important;
  /* width: 100vw !important; */
}


/*
:root #tabbrowser-tabs {
  --tab-min-height: 25px !important; 
  --tab-min-width: 80px !important; 
}
*/

/* each tab width */
#tabbrowser-tabs {
  width: 100vw !important;
}

/*
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
  min-height: var(--tab-min-height) !important;
  max-height: var(--tab-min-height) !important;
}
*/

/*
#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
  -moz-box-ordinal-group: 10 !important;
}
*/


/* 
#TabsToolbar {

  height: var(--tab-min-height) !important; 
  height: 55px !important; 
  margin-bottom: 1px !important;
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--toolbar-color) !important;
}
*/





/********************************************

for debugging - colors added

********************************************/
/*
#navigator-toolbox {
	background-color: pink !important; 
}

#navigator-toolbox:hover  {
	background-color: red !important;
}
/**/

/*
#navigator-toolbox #PersonalToolbar { 
 	background-color: green !important;
}
/**/

/*
#personal-bookmarks
{
	opacity: 1.0 !important;
	background-color: greenyellow !important;
}
#personal-bookmarks:hover
{
	opacity: 1.0 !important;
	background-color: green !important;
}
/**/


/*******************************

	#PersonalToolbar = #navigator-toolbox #PersonalToolbar

********************************/

/*
#PersonalToolbar {
	opacity: 1.0 !important;
 	background-color: orange !important;
}

#PersonalToolbar:hover {
 	background-color: yellow !important;
}
/**/

/*
#personal-bookmarks {
	background-color: skyblue !important;
}

#personal-bookmarks:hover {
	background-color: blue !important;
}
/**/

/*
#PlacesToolbar {
	background-color: lime !important;
}

#PlacesToolbarItems:hover {
	background-color: greenyellow !important;
}
/**/




/*
#personal-bookmarks #PlacesToolbar {
 	background-color: magenta !important;
}
/**/

/*
#PlacesToolbarItems > .scrollbox-innerbox {
 	background-color: red !important;
}
/**/























